# macOS
.DS_Store

# Node
node_modules/

# 환경 변수
.env
.env.*

# 생성된 파일들
generated/

# iOS
ios/Pods/
ios/build/
ios/.xcode.env.local
ios/*.xcworkspace/
ios/*.xcuserstate
ios/*.xcscmblueprint
ios/xcuserdata/

# Android
android/.gradle/
android/.idea/
android/app/build/
android/app/.cxx/
*.apk
*.aab
android/local.properties

# 로그/임시/백업
*.log
*.tmp
*.swp
*.bak
